<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{odg}}
    <form action="/register" method="POST">
        <label for="1">Username</label>
        <input type="text" name="username" id="1">
        <br>
        <label for="2">Email</label>
        <input type="text" name="email" id="2">
        <br>
        <label for="3">Password</label>
        <input type="text" name="password" id="3">
        <br>
        <label for="4">Confirm password</label>
        <input type="text" name="confirm" id="4">
        <br>
        <label>Godina studija
            <input type="radio" name="godina_studija" value="1" id="" checked>1
            <input type="radio" name="godina_studija" value="2" id="">2
            <input type="radio" name="godina_studija" value="3" id="">3
            <input type="radio" name="godina_studija" value="4" id="">4
        </label>
        <br>
        <label for="5">JMBG</label>
        <input type="text" name="jmbg" id="5">
        <br>
        <input type="submit" name="submit" value="Submit" id="">

    </form>
</body>
</html>